v01/src/Market/WcfServicesProxy/Service References/SymbolServiceProxy/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSymbol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Symbol" nillable="true" type="tns:Symbol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSymbol" nillable="true" type="tns:ArrayOfSymbol" />
  <xs:complexType name="Symbol">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Spread" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Symbol" nillable="true" type="tns:Symbol" />
</xs:schema>